.p-toast.p-toast-topright {
    z-index: 1000;
    top: 70px;
}

.p-progress-spinner-circle {
   stroke: #FFFFFF !important;
 }

.bold-label {
   font-weight: bold;
}
 
.shift-right {
   padding-left: 14rem;
   padding-bottom: 16px;
}

.bold-label-padded {
   font-weight: bold;
   padding-bottom: 16px;
}

.p-column-filter-menu-button.p-link {
   display: none !important;
}